# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
# and https://circleci.com/blog/publishing-npm-packages-using-circleci-2-0/

version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:8.6

jobs:
  build:
    <<: *defaults
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - persist_to_workspace:
          root: ~/repo
          paths: .
    
  test:
    <<: *defaults  
    steps:
      - attach_workspace:
          at: ~/repo

      - run: yarn test

  deploy:
      <<: *defaults
      steps:
        - attach_workspace:
            at: ~/repo
        - run:
            name: Authenticate with registry
            command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
        - run:
            name: Publish package
            command: npm publish

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - test:
          requires:
            - build
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - test
          filters:
            # filters are OR...
            branches:
              ignore: /.*/
            tags:
              # semantic release tag regex
              only: ^v[0-9]+\.[0-9]+\.[0-9]+$
